@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-primary-main: #1f7b68;
  --color-secondary-main: #5e936c;
  --color-tertiary-main: #93da97;
  --color-primary-light: #f9fff5;
  --color-primary-light-2: #d1f5e8;
  --color-secondary-light: #ffffff;
}

:root {
  --ui-primary: #1f7b68;
}

body {
  background-color: var(--color-secondary-light);
  color: #000;
  max-width: 1000px;
  margin: 0 auto;
}
